:root {
    --home-bg-color: #f2f3ee;
    --menu-bg-color: #cbcbc2;
    --silde-btn-border: #808080;
    --slide-btn-bg: #ddf2db;
    --slide-btn-hoverbg: #f1fff1;
    --alpha-green: rgba(33, 96, 47, 0.51);
    --icon-hover-color: #344a39;
    --icon-hover-bg: #709680;
    --text-color: #616161;
    --border-color: #709680;
    --heading-color: #344a39;
    --box-shadow-color: #b5b5ac;
    --lightest-green: #86a58d;
    --light-green: #9ab09a;
    --dark-green: rgba(52, 74, 57, 0.86);
    --box-shadow: 0px 0px 3px 5px var(--box-shadow-color);
    --border-radius: 60px 5px;
    --fade-green: rgba(57, 87, 64, 0.55);
  }
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
  
  body, html{
    font-size: 10px;
    font-family: sans-serif;
    background-color:var(--menu-bg-color);
    background-size: cover;
  }
  
  #ham-menu {
    display: none;
  }
  label[for="ham-menu"] {
    display: block;
    position: fixed;
    top: 24px;
    left: 20px;
    z-index: 999;
    width: 60px;
    height: 60px;
    background-color: var(--home-bg-color);
    border-radius: 15px;
    border: 2px solid var(--border-color);
  }
  .ham-menu {
    width: 50vw;
    height: 100%;
    position: fixed;
    top: 0;
    visibility: hidden;
    transform: translate(-110%);
    z-index: 998;
    background-color: var(--lightest-green);
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ham-menu > ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    padding: 20px;
    height: 50%;
  }
  .ham-menu > ul > li {
    font-size: 5rem;
    white-space: nowrap;
    letter-spacing: 0.15em;
    cursor: pointer;
    color: rgb(97, 97, 97);
  }
  #ham-menu:checked + label {
    background-color: transparent;
    border-color: var(--dark-green);
  }
  #ham-menu:checked ~ div.ham-menu {
    transform: translate(0px);
    visibility: visible;
  }
  .full-page-green {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-green);
    z-index: 997;
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: 500ms;
    position: fixed;
    top: 0;
    left: 0;
  }
  #ham-menu:checked ~ div.full-page-green {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  [for="ham-menu"] > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
  }
  .menu-line {
    display: block;
    width: 17px;
    height: 2px;
    margin: 10px 0 5px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: var(--border-color);
    transition: 500ms;
    transform-origin: right center;
  }
  [for="ham-menu"] > div > span:nth-child(4),
  [for="ham-menu"] > div > span:nth-child(5),
  [for="ham-menu"] > div > span:nth-child(6) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    transform-origin: left center;
  }
  #ham-menu:checked + label span {
    background-color: var(--dark-green);
  }
  #ham-menu:checked + label span:nth-child(2),
  #ham-menu:checked + label span:nth-child(5) {
    transform: scale(0);
  }
  #ham-menu:checked + label span:nth-child(1) {
    transform: translateY(17px) rotate(45deg);
  }
  #ham-menu:checked + label span:nth-child(4) {
    transform: translateY(17px) rotate(-45deg);
  }
  #ham-menu:checked + label span:nth-child(3) {
    transform: translateY(-17px) rotate(-45deg);
  }
  #ham-menu:checked + label span:nth-child(6) {
    transform: translateY(-17px) rotate(45deg);
  }
  .centre-text {
    text-align: center;
  }

  .bold-text {
    font-weight: bold;
  }

  a{
    color:var(--dark-green);
    font-family: "OpenSansCondensed-Light";
  }

  #heading{
    padding: 20px;
    background-color:var(--border-color);
    text-align: center;
    font-size: 25px;
    border-width: 10px;
}

.container td {
    font-weight: normal;
    font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
     -moz-box-shadow: 0 2px 2px -2px #0E1119;
          box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
    text-align: center;
    font-size: 20px;
    overflow: hidden;
    width: 60%;
    margin-top: 8%;
    margin-left:19.5%;
    display: table;
    padding: 0 0 0 0;
}

.container td{
    color: #FB667A; 
    padding: 1%;
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
    background-color: #323c50;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
    background-color: #2C3446;
}

.container td:first-child { 
    color: #FB667A; 
}

.container tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
     -moz-box-shadow: 0 6px 6px -6px #0E1119;
          box-shadow: 0 6px 6px -6px #0E1119;
}

.data:hover {
  background-color:var(--icon-hover-bg);
  color: #403E10;
  font-weight: bold;
  
  /* box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px; */
  /* transform: translate3d(6px, -6px, 0); */
  
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}
